<div class="alert alert-danger fade in" id="serverRegistrationErrorDiv" style="display: none;padding: 20px">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="errorDetails"></div>
</div>