<% include ./template/base.ejs %>

<body>


<div id="wrapper">
            <% include ./navbar.ejs %>

            <% include ./sidebar.ejs %>

            <div id="main-page-content-wrapper">
                    <% include serverList.ejs %>
             </div>
</div>
</body>