<ul class="nav navbar-right top-nav">


    <li><a href="" class="text-center new-account"><i class="fa fa-user"></i> <%=user.username%> (<%=user.user_role%>)</a></li>
    <li><a href="/signout" class="text-center new-account"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>

</ul>