<!DOCTYPE html>
<html lang="en">
<head>
    <title>AXA Script Executor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/homedesign.css">
    <link rel="stylesheet" href="/stylesheets/fileinput.min.css">
    <link rel="stylesheet" href="/stylesheets/colorbox.css">



    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/bootbox/bootbox.min.js"></script>
    <script src="/js/jquery.colorbox-min.js"></script>
    <script src="/js/fileinput.min.js"></script>


    <script src="/js/login.js"></script>

    <script src="/js/home.js"></script>

</head>
